/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

@font-face {
	font-family: MontserratAlternates;
	src: url(fonts/MontserratAlternates.woff);
}

body {
	background: #fafafa;
}

h1, h2, h3, h4, h5, h6, p, span {
	font-family: Helvetica, sans-serif;
}

a, a:hover, a:after, a:visited, a:link, a:active {
	color: #a5023b !important;
	text-decoration: none;
}

.a-disable, .a-disable:hover, .a-disable:after,
.a-disable:visited, .a-disable:link, .a-disable:active {
	color: #A6A6A6 !important;
	text-decoration: none;
}

nav {
	height: 50px;
	border: 3px solid #222;
	background: #f0f0f0;
	margin: 0px 0px 25px 0px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
	background: -webkit-linear-gradient(#f0f0f0, #f2f2f2);
	background: -moz-linear-gradient(#f0f0f0, #f2f2f2);
	background: linear-gradient(#f0f0f0, #f2f2f2);
}

nav ul {
	padding:0;
	margin:0;
	margin-left: 10px;
	list-style-type:none;
}

nav ul li {
	float: left;
}

nav ul li a, nav ul li a:hover {
	display: block;
	text-decoration: none;
	height: 50px;
	color: #333;
	background: #f0f0f0;
	background: -webkit-linear-gradient(#f0f0f0, #f2f2f2);
	background: -moz-linear-gradient(#f0f0f0, #f2f2f2);
	background: linear-gradient(#f0f0f0, #f2f2f2);
}

nav ul li a:hover {
	color: #333;
	background: #dadada;
	background: -webkit-linear-gradient(#dadada, #dcdcdc);
	background: -moz-linear-gradient(#dadada, #dcdcdc);
	background: linear-gradient(#dadada, #dcdcdc);
}

nav ul li a span {
	display: block;
	font-size: 15px;
	padding: 15px 15px;
	color: #333;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
}

.top-sep {
	height: 25px;
}

.logo {
	border-width: 0px;
}

.logo img {
	width: 100%;
	height: auto;
	outline: 0;
}

.panel {
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	background: #f2f2f2;
}

.bold {
	font-weight: bolder;
}

.product-heigth {
	height: 130px;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.logo a span {
			font-size: 40px;
		}

		.logo a span:first-child {
			font-size: 70px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.logo a span {
			font-size: 40px;
		}

		.logo a span:first-child {
			font-size: 70px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.logo a span {
			font-size: 20px;
		}

		.logo a span:first-child {
			font-size: 42px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		nav ul li a span {
			padding: 15px 5px;
		}

		.logo {
			margin: 500px 0px 5px 0px;
		}

		.logo a span {
			font-size: 16px;
		}

		.logo a span:first-child {
			font-size: 28px;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/